header{
height: 100%;
width: 100%;
border: 1px solid white;
background: rgb(0,0,150);
}
header div{
margin: 20px;
height: 100%;
float: top;
display: inline;
}
header div img {
margin: 5px;
width: 100px;
float: right;
}
header div h1{
margin: 20px;
width: 60%;
color: white;
float: top;
text-align: left;
font-size: 50px;
}
header nav{
padding: 10px;
width: 100%;
height: 50%;
float: bottom-left;
display: inline-flex;
list-style: none;
}
header nav li a{
text-decoration: none;
padding: 20px;
color: white;
}
.active, header nav li:hover{
 background: rgb(0,0,100);
 boarder-radius: 5px;
}

.pricing-tbl{
max-width: 1200px;
margin: auto;
display: flex;
justify-content: center;
text-align: center;
flex-wrap: wrap;
}
.col{
flex:25%;
padding: 10px;
max-width: 320px;
box-sizing: boarder-box;
color: black;
}
.tbl{
background: skyblue;
padding: 40px 20px;
font-family: "montserat", sans-serif;
position: relative;
overflow: hidden;
box-shadow: 0 0 10px #00000070;
}
.tbl h3{
text-transform: uppercase;
}
.tbl ul{
margin:0;
pading:0;
}
.tbl ul li{
pading: 10px 0;
list-style: none;
}
.pice{
font-size: 40px;
margin-bittom: 20px;
}
.pice span{
display: block;
font-size: 14px;
}
.tbl a{
text-decoration: none;
color: blue;
border: 2px solid blue;
display: block;
pading:10px 0;
margin:10px 0;
boarder-radius: 40px;
text-transform: ;
font-size: 14px;
transition: 0.5s linear;
text: inline;
}
.tbl a:hover{
 background: blue;
 color: white;
}
.pop{
background: blue;
color: white;
transform: rotate(45deg);
padding: 10px 40px;
position: absolute;
top: 19px;
right: -34px;
}
.tbl .taco:hover{
background: url(taco.jpg);
background-size: 100% 100%;
}
.tbl .burger:hover{
background: url(burger.jpg);
background-size: 100% 100%;
}
@media screen and (max-width: 720px){
.col{
display-flex: 50%;
}
}
@media screen and (max-width: 360px){
.col{
display-flex: 100%;
}
}